.header-top {
    /*padding-bottom: 0.1em;
    margin-bottom: 0.1em;*/
    background-color: transparent;
    @media ($md) {
        background-color: #fff;
    }
    .filter-marca-categoria {
        display: block;
    }
    .filter-marcas {
        .filter-row-mobile {
            height: auto;
            justify-content: space-between;
            background-color: #fff;
            padding: 0.2rem 4px;
            margin-top: 0;
            width: calc(100% + 43px);
            margin-left: -30px;
            .nav-marcas {
                align-items: center;
                span {
                    font-size: 14px;
                }
            }
            .header-link {
                align-items: center;
                i {
                    font-size: 24px;
                }
            }
            .filter-image {
                align-items: center;
                display: flex;
                margin-right: 0.1em;
                padding-left: 0.1em;
                padding-right: 0.1em;
                min-width: 20%;
                width: auto;
                img {
                    width: 94%;
                    height: 37px;
                    object-fit: contain;
                    max-width: 200px;
                }
            }
        }
        .filter-marca-categoria {
            margin-right: -1em;
            margin-top: 5px;
            margin-left: 2.5em;
        }
        .filter-row-mobile-input {
            position: relative;
            flex-wrap: wrap;
            width: 100%;
            .filter-input-search {
                width: 100%;
                display: flex;
                flex-direction: row;
                input {
                    width: 100%;
                    height: auto;
                    padding: 5px 10px;
                    border-radius: 25px;
                    border: 1px solid rgba(0, 0, 0, .25);
                    &::placeholder {
                        color: rgb(179, 179, 179);
                        line-height: 4;
                        opacity: 1
                    }
                }
                .btn-search {
                    color: var(--color-font);
                    background-color: var(--color-background-white);
                    padding: 0.025rem 0.2rem;
                    border-color: var(--color-background-white);
                    font-size: 15px;
                    &:focus {
                        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                    }
                    .fa {
                        margin: 0em;
                        font-size: 20px;
                    }
                    @media (min-width: 0px) and (max-width: 767px) {
                        background-color: #f1f1f1;
                        border-color: #f1f1f1;
                    }
                }
            }
            .search-link {
                position: absolute;
                right: 10px;
            }
        }
        .header-nav {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            width: 100%;
            align-items: center;
            padding: 0;
            border-bottom: 1px solid #f1f1f1;
            cursor: context-menu;
            padding-top: 0.3em;
            .header-phone {
                padding: 0;
                text-align: left;
                width: 20%;
                /*Para el MENU de Moneda,usuario,cerrar session*/
                @media (min-width: 994px) and (max-width: 1211px) {
                    width: 22%;
                }
                @media (min-width: 600px) and (max-width: 994px) {
                    width: 30%;
                }
            }
            &__wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 75%;
                .header-link-tipcambio {
                    font-size: 12px;
                    color: #7a7a7a;
                    .tip-cambio-moneda {
                        margin-left: 2.5em;
                    }
                    .tip-cambio-select {
                        color: #232323;
                        outline: none;
                        border: 0;
                    }
                }
                .header-link {
                    width: auto;
                    align-items: center;
                    margin-left: 3rem;
                    .btn_link {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        .box_shop {
                            display: flex;
                            align-items: center;
                        }
                        &.shop {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
        .filter-row-1 {
            width: 100%;
            margin: 0;
            padding: 0 0;
            &.isbrand {
                justify-content: space-between;
            }
            .outer-header {
                display: flex;
                align-items: center;
            }
            .inner-header {
                display: flex;
                align-items: center;
            }
            .filter-image {
                width: auto;
                max-height: inherit;
                min-width: inherit;
                img {
                    max-width: 180px;
                    margin: 0;
                    object-fit: scale-down;
                }
            }
            .filter-input {
                width: 220px;
                margin-left: 0.5rem;
                .filter-input-search {
                    display: flex;
                    flex-direction: row;
                    input {
                        padding: 4px 10px;
                        font-size: 14px;
                        border-radius: 25px;
                        color: #7a7a7a;
                        border: 1px solid rgba(0, 0, 0, .25);
                        height: auto;
                        width: 100%;
                        &::placeholder {
                            color: rgb(179, 179, 179);
                            opacity: 1
                        }
                    }
                    .btn-search {
                        color: var(--color-font);
                        background-color: var(--color-background-white);
                        padding: 0.025rem 0.2rem;
                        border-color: var(--color-background-white);
                        font-size: 15px;
                        &:focus {
                            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
                        }
                        .fa {
                            margin: 0em;
                            font-size: 20px;
                        }
                        @media (min-width: 0px) and (max-width: 767px) {
                            background-color: #f1f1f1;
                            border-color: #f1f1f1;
                        }
                    }
                }
            }
        }
        .filter-row-2 {
            width: 100%;
            padding: 0;
        }
    }
}